<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solo11come"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Solo11come">

        <activity
            android:name="com.solo11come.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.solo11come.activities.LoginActivity" />
        <activity android:name="com.solo11come.activities.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.solo11come.activities.ContestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.solo11come.activities.MatchDetailsActivity" />
        <activity android:name="com.solo11come.activities.TeamSelectionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.solo11come.activities.CaptainSelectionActivity" />
        <activity android:name="com.solo11come.activities.WalletActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.solo11come.activities.LeaderboardActivity" />
        <activity android:name="com.solo11come.activities.HelpdeskActivity" />
        <activity android:name="com.solo11come.activities.MyContestsActivity" />
        <activity android:name="com.solo11come.activities.KYCActivity" />

    </application>

</manifest>